body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #495057;
    color: #ffffff;
}

.navbar a.active {
    background-color: #28a745;
    color: #ffffff;
}

.container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1240px;
}

h1 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #dddddd;
    text-align: center;

}

th {
    background-color: #5b5858;
    color: white;
    padding: 10px;
    font-weight: bold;
}

td {
    padding: 8px;
}

a {
    
    text-decoration: none;
}

a:hover {
   
    color: #0056b3;
}
button{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0 -5px 0 10px;
    padding: 5px 10px;
    color: #0056b3;
    font-size: larger;
    transition: 0.2s linear;
}
button:hover{
    background-color: #5b5858;
    color: white;
    cursor: pointer;
}